<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户下单 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <section id="formAjax">
        <div class="text-c">
            <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
            <input type="text" name="search" value="{$Think.get.search}" id="search" placeholder="输入信息" style="width:250px" class="input-text">
            <button name="" id="search-btn" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i> 查找订单</button>
        </div>
    </section>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{$page.count}</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr class="text-c">
            <th width="25">#</th>
            <th width="200">订单号</th>
            <th width="80">代码</th>
            <th width="80">数量</th>
            <th width="80">单价</th>
            <th width="150">商品名</th>
            <th width="80">状态</th>
            <th width="130">下单时间</th>
            <th width="130">审核时间</th>
        </tr>
        </thead>
        <tbody>
        <form id="multi-check">
            {foreach $list as $li}
            <tr class="text-c userinfo">
                <td>{$li.id}</td>
                <td>{$li.order_sn}</td>
                <td>{$li.total_price}</td>
                <td>{$li.num}</td>
                <td>{$li.unit_price}</td>
                <td>{$li.name}</td>
                <td>
                    {switch $li['status']}
                    {case 1}<span class="label label-warning radius">审核中</span>{/case}
                    {case 2}<span class="label label-success radius">已确认</span>{/case}
                    {case 3}<span class="label label-defaunt radius">未通过</span>{/case}
                    {default/}
                    {/switch}
                </td>
                <td>{$li.create_time|date='Y-m-d H:i:s'}</td>
                <td>
                    {if $li['confirm_time']}
                    {$li.confirm_time|date='Y-m-d H:i:s'}
                    {/if}
                </td>
            </tr>
            {/foreach}
        </form>

        <tr>
            <td colspan="9" id="page" class="text-r"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    var url = '{:url("Order/orderList")}' + '?<?php echo $page["query"];?>',totalPage = '{$page.totalPage}';
    var curr = '{$page.curr}';
    if(totalPage > 1) {
        laypage({
            cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。
            pages: totalPage, //通过后台拿到的总页数
            skip: false, //是否开启跳页
            skin: '#5a98de',
            curr: curr || 1, //当前页
            jump: function(obj, first){ //触发分页后的回调
                // console.log(obj)
                if(!first) {
                    window.location.href = url+'&page=' + obj.curr;
                }
            }
        });
    }

    $("#search-btn").click(function () {
        var search = $("#formAjax").find("#search").val();
        var pcate_id = $("#formAjax").find("#pcate_id").val();
        var cate_id = $("#formAjax").find("#cate_id").val();
        var sort = $("#formAjax").find("#sort").val();


        var str = '';
        if(search.length != 0) {
            str += 'search=' + search;
        }
        window.location.href = '{:url("Order/orderList")}' + '?' + str;
    });


</script>